@use "./variables" as *;
@use "./mixins" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 20px 0;
  font-family: $font-base;
  font-optical-sizing: auto;
  line-height: 1.5;
  background-color: var(--color-primary);
  color: var(--color-text);
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  color: var(--color-text);
  width: auto;
}

h1 {
  //font-size: 42px;
  font-weight: 400;
  @include adaptiv-font(42, 26);
}

h2 {
  //font-size: 32px;
  font-weight: 600;
  @include adaptiv-font(32, 22);
}

h3 {
  color: var(--color-primary);
}

p {
  //font-size: 18px;
  font-weight: 400;
  @include adaptiv-font(18, 14);
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  @include adaptiv-font(18, 14);
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

section {
  margin-top: 100px;
}
