@use "./variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 20px auto 0;
  font-family: $font-base;
  font-optical-sizing: auto;
  line-height: 1.5;
  background-color: var(--color-primary);
  color: var(--color-text);
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-text);
}

h1 {
  font-size: 2.6rem;
}

h4 {
  color: var(--color-primary);
}

p {
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

section {
  margin-top: 100px;
}
