:root {
  --color-primary: #eff1f3;
  --color-primary-faded: #eff1f380;
  --color-secondary: #2541b2;
  --color-tertiary: #1768ac;
  --color-text: #171717;
  --color-text-faded: #171717c9;
}

[data-theme="dark"] {
  --color-primary: #171717;
  --color-primary-faded: #17171780;
  --color-secondary: #054a29;
  --color-tertiary: #3c6e71;
  --color-text: #eff1f3;
  --color-text-faded: #f3efef6b;
}

$color-emergency: #a30b37;
$font-base: "Inter", sans-serif;
$maxWidth: 1920;
